body{
    width: 600px;
    margin:0;
    text-align: center;
    font-family: 'Smythe', cursive;
    padding: 0;
    
}


.hero-area{
    position: relative;
    background-image: url(images/header.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    height: 200px;
    margin-bottom: 25px;
}


.title{
    position: absolute;
    color: white;
    top : 50px;
    left: 50px;

}

.title h1 {
    font-size: 39px; 
    line-height: 24px;
    text-align: left;
}

.title h3{
    font-size: 23px;
    line-height: 14px;

}

.emoji{
    font-size:78px;
    margin: 15px auto auto 50px ; 
    
}

.menu-create{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.menu-item{
    display:inline-block;
    width: 100%;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px; 
}

.ingredients{
    font-size: 16px;
    color: #8B8B8B;
}

.price{
    font-size: 20px;
    color: #000000;
}


p{
    margin:0;
    padding:0;
}

#plusBtn{
    font-family: 'Inter', sans-serif;
    color: #3C3C3C;
    font-size: 32px;
    border:1px solid #DEDEDE;
    background-color: white;
    border-radius: 50%;
    margin-right: 50px;
    margin-bottom: 25px;
    text-align: center;
    padding-bottom: 5px;
}

#plusBtn:hover{
    background-color:#efefef;
    cursor: pointer;
}

.menu-create hr{
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: -100px;
    margin-right: -70px;
}

.newOrder{
    margin: 15px 45px auto 70px ; 
    display: flex;
    justify-content: space-between;

}

.hidden{
    display:none;
    text-align: center;
}

.order-name, #order-head, .total-price, .menu-name{
    font-size: 28px;
    font-weight: bold;
    
} 

.total-line{
    margin: 15px 45px auto 70px ; 
    display: flex;
    justify-content: space-between;
}

.remove{
    color: #BBBBBB;
    font-size: 12px;
    font-family: 'Verdana';
    margin-left: 5px;
    cursor: pointer;
}

.order-price, .sum {
    padding-top: 7px;
    font-size: 20px;
    
}

.total-hr{
    margin: 25px 28px auto 73px ;
    color: #393333;
}

#complete{
    background-color: #16DB99;
    color: white;
    font-family: 'Verdana';
    font-size: 16px;
    margin: 25px 10px 25px 73px ;
    width: 83%;
    border-style: none;
    border-radius: 3px;
    padding-top : 10px;
    padding-bottom: 10px;
    






